/* css */

.bgcol{
  background-color:khaki;
}
.mouseTrack{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}
.center {
  /* border: 5px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}
/* ----------HIJAB--------- */
.hijab {
  background-color: rgb(129, 137, 137);
  top: 395px; 
  height: 310px;
  width: 275px;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 45%;
}

.midtip {
  position: absolute;
  left: 37px;
  top: -18px;
  height: 0;
  width: 0;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 40px solid rgb(129, 137, 137);
}

.righttip {
  position: absolute;
  left: 79px;
  top: 22px;
  height: 50px;
  width: 100px;
  transform: rotate(50deg);
}

.lefttip {
  position: absolute;
  left: -178px;
  top: 22px;
  height: 50px;
  width: 100px;
  transform: rotate(-50deg);
}

/* --------FACE AND FEATURES--------- */
.face {
  background-color: burlywood;
  height: 210px;
  width: 185px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

.eye{
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.eleft{
  position: absolute;
  top: -100px;
  left: -35px;
}

.eright{
  position: absolute;
  top: -100px;
  left: 22px;
}

.nose{
  position: absolute;
  top: -50px;
  left: -5px;
  height: 0;
  width: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 30px solid rgb(187, 144, 87);
}

.lips{
  background-color: palevioletred;
  position: absolute;
  top: 15px;
  left: -15px;
  height: 20px;
  width: 35px;
  border-radius: 60%;
}

.lipscover{
  background-color: burlywood;
  position: inherit;
  top: -9px;
  left: -3px;
  height: 20px;
  width: 40px;
  border-radius: 60%;  
}

.glasses{
  /* background-color: burlywood; */
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 2px;
  border-top-right-radius: 43%;
  border-top-left-radius: 43%;
  border-bottom-left-radius: 48%;
  border-bottom-right-radius: 48%;  
}

.lensL{
  position: absolute;
  top: -112px;
  left:-52px;
}

.lensR{
position: absolute;
top: -112px;
left: 12px;
}

.rim{
  background-color: black;
  position: absolute;
  top: -98px;
  left: -9px;
  height: 2px;
  width: 22px;
}